# WinP_Projects
/WinP_Projects/.vs
/WinP_Projects/x64
# Warming Up
/WinP_WarmUP/WinP_00_01/x64
/WinP_WarmUP/WinP_00_02/x64
/WinP_WarmUP/WinP_00_03/x64
/WinP_WarmUP/WinP_00_04/x64
/WinP_WarmUP/WinP_00_05/x64
/WinP_WarmUP/WinP_00_06/x64
/WinP_WarmUP/WinP_00_07/x64
/WinP_WarmUP/WinP_00_08/x64
# Chapter01
/WinP_Projects/WinP_01_01/x64
/WinP_Projects/WinP_01_02/x64
# Chapter02
/WinP_Projects/WinP_02_01/x64
/WinP_Projects/WinP_02_02/x64
/WinP_Projects/WinP_02_03/x64
/WinP_Projects/WinP_02_04/x64
/WinP_Projects/WinP_02_05/x64
/WinP_Projects/WinP_02_06/x64
