# WinP_Projects
/WinP_Projects/.vs
/WinP_Projects/x64
# Warming Up
/WinP_Projects/WinP_00_01/x64
/WinP_Projects/WinP_00_02/x64
/WinP_Projects/WinP_00_03/x64
/WinP_Projects/WinP_00_04/x64
/WinP_Projects/WinP_00_05/x64
/WinP_Projects/WinP_00_06/x64
/WinP_Projects/WinP_00_07/x64
/WinP_Projects/WinP_00_08/x64
